//sticker

.note {
  width: 310px;
  min-width: 310px;
  height: 320px;
  margin: 15px;
  padding: 10px;
  border-bottom-right-radius: 60px 5px;
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  word-break: break-all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

  p {
    font-size: 18px;
    font-family: 'Caveat', cursive;
  }
}

.confirm-form {
  margin-bottom: 10px;
}

//кнопки на стикере

.delButton {
  color: #6e6e6e;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
}

.delButton:hover {
	-webkit-transition-duration: 0.5s;
  color: #b32929;
  text-shadow: 4px 4px 15px #000000;
}

.editButton {
  margin-bottom: 8px;
  color: #6e6e6e;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
}

.editButton:hover {
	-webkit-transition-duration: 0.5s;
  color: #60b329;
  text-shadow: 4px 4px 15px #000000;
}

.edit-form {
  padding: -10px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  background: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  resize: none;
  width: 290px;
  height: 220px;
  line-height: 35px;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #666;
}

//рандомное расположение стикеров

.note:nth-child(even) {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}

.note:nth-child(3n) {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
}

.note:nth-child(5n) {
  -o-transform:rotate(3deg);
  -webkit-transform:rotate(3deg);
  -moz-transform:rotate(3deg);
  position:relative;
  top:-8px;
}

//модалка

.modal {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-style {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
	justify-content: space-between;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0;
  min-width: 310px;
  max-width: 350px;
  height: 350px;
  background: #ffff88;

  textarea {
    padding: 10px;
    height: 290px;
    width: 100%;
    background: #ffff88;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Caveat', cursive;
    font-size: 30px;
  }

  select {
    width: 150px;
  }
}

.modal-footer-style {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
  margin: 0 10px 10px 10px;
  border-top: none;
}

// radio-button style

// Colors
$color-1: #c9c9c9;
$color-2: rgb(255, 102, 102);
$color-3: rgb(255, 255, 102);
$color-4: rgb(143, 255, 102);
// Colors

.custom-radios {
  
  div {
    display: inline-block;
  }

  input[type="radio"] {
    display: none;

    + label {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;

      span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;
    
        img {
          opacity: 0;
          transition: all .3s ease;
        }
      }
    }

    &#color-1 + label span {
      background: -moz-linear-gradient(0deg, rgba(255,102,102,1) 0%, rgba(255,255,102,1) 50%, rgba(207,255,102,1) 71%, rgba(143,255,102,1) 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,102,102,1)), color-stop(50%, rgba(255,255,102,1)), color-stop(71%, rgba(207,255,102,1)), color-stop(100%, rgba(143,255,102,1))); /* safari4+,chrome */
      background: -webkit-linear-gradient(0deg, rgba(255,102,102,1) 0%, rgba(255,255,102,1) 50%, rgba(207,255,102,1) 71%, rgba(143,255,102,1) 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(0deg, rgba(255,102,102,1) 0%, rgba(255,255,102,1) 50%, rgba(207,255,102,1) 71%, rgba(143,255,102,1) 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(0deg, rgba(255,102,102,1) 0%, rgba(255,255,102,1) 50%, rgba(207,255,102,1) 71%, rgba(143,255,102,1) 100%); /* ie10+ */
      background: linear-gradient(90deg, rgba(255,102,102,1) 0%, rgba(255,255,102,1) 50%, rgba(207,255,102,1) 71%, rgba(143,255,102,1) 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF6666', endColorstr='#8FFF66',GradientType=1 ); /* ie6-9 */    
    }

    &#color-2 + label span {
      background-color: $color-2;
    }

    &#color-3 + label span {
      background-color: $color-3;
    }

    &#color-4 + label span {
      background-color: $color-4;
    }

    &:checked + label span img {
      opacity: 1;
    }
  }
}